In [1]:
t1 = 1, 2, 3
t1

(1, 2, 3)

In [2]:
t2 = (1, 2, 3)
t2

(1, 2, 3)

In [4]:
# nested tuple
t3 = t1, t2, (10, 20, 30)
t3

((1, 2, 3), (1, 2, 3), (10, 20, 30))

In [5]:
t4 = [1, 2, 3], [10, 20, 30]
t4

([1, 2, 3], [10, 20, 30])

In [6]:
# 튜플은 리스트와 달리
# 불변이며
# 보통 이질적인 요소들의 시퀀스이다
# 요소들은 언패킹이나 인덱싱으로 접근한다.

# 하지만 다음과 같이 요소의 포함 값은 수정가능하다.
t5 = [1, 2], [3, 4]
t5[0][0] = 100
t5

([100, 2], [3, 4])

In [7]:
# 비어있는 튜플은 빈 괄호를 통해만든다
empty_t = ()
empty_t

()

In [9]:
# 요소가 한 개인 튜플은 뒤에 쉽표를 붙여서 만든다
one_t = 1,
one_t

(1,)

In [11]:
# 요소 한 개짜리 튜플을 만들 때 괄호는 의미를 갖지 않는다.
one_t1 = (1)
one_t1

1